---
import '../styles/global.css'
import MainBackgroundLayout from '../layouts/MainBackgroundLayout.astro'

const pageTitle = "The almost sensible server";
const pageSubHeading = " ";
export const prerender = true;
---

<MainBackgroundLayout pageTitle={pageTitle}, pageSubHeading={pageSubHeading}>

	<p>
		bonesboundhome is an IBM x3650 M4 - I grabbed it from some random business off marketplace, and with a
		firmware update it hopefuly won't blow up anytime soon lol
	</p>

  <p>
		It currently has two Xeon E5-2650's and 384GB of RAM with NixOS as an operating system. This was running my NFS server, with NVME storage added in via PCIE,
		which was mostly setup so I could run MPICH at home for my HPC unit (the class had run out of credit on
		Setonix and I wasn't going to waste the opportunity for the homelab to actually be useful for once
		lmao), however since installing NixOS I have not reset this up.
	  </p>

	<p>
		I also have written a custom fan curve for this in C - <s>which I will
		eventually add to my github</s> this is <i>kinda</i> on my GitHub, if you go looking at my nix repo, you'll see how I set it up for NixOS. There is also a version of it in
		Python, which is alive and well on my github. Arguably the Python implementation is much
		more sensible, as it isn't doing much more than just running as a script that calls a system call.
	</p>

</MainBackgroundLayout>
