---
import '../styles/global.css'
import MainBackgroundLayout from '../layouts/MainBackgroundLayout.astro'

const pageTitle = "Possibly the most sensible server I had";
const pageSubHeading = " ";
const url = import.meta.url;
const filename = url.split('/').pop()?.split('.')[0]
export const prerender = true;
---


<MainBackgroundLayout pageTitle={pageTitle} filename={filename}>
		
		<p>
			bonescallhome was a IBM x3200 M3, which was running Ubuntu server with
			32GB of ram. A 4TB RAID-10 storage had been set up using older spinning
			HDDs, while the server booted off a 500GB boot SSD.
		</p>
		<p>
			However, this is no longer the case, as finding it too sensible (I mean, it was quiet!), I gave it to a
			friend.
		</p>
	
</MainBackgroundLayout>
	
