---
import '../styles/global.css'
import MainBackgroundLayout from '../layouts/MainBackgroundLayout.astro'

const pageTitle = "Contacting me";
const pageSubHeading = " ";
---


<MainBackgroundLayout pageTitle={pageTitle}>
		
		<p><a href="https://github.com/Sebagabones"> Github </a></p>
		<p><a href="https://www.linkedin.com/in/seb-gazey/"> LinkedIn </a></p>
		<p>
			<script type="text/javascript">
				document.write(
					`<a href="mailto:&#115;&#101;&#98;&#103;&#97;&#122;&#101;&#121;&#64;&#105;&#99;&#108;&#111;&#117;&#100;&#46;&#99;&#111;&#109;" rel="nofollow noopener noreferrer">&#115;&#101;&#98;&#103;&#97;&#122;&#101;&#121;&#64;&#105;&#99;&#108;&#111;&#117;&#100;&#46;&#99;&#111;&#109;</a>`,
				);
			</script>
		</p>
		<p>
			To be honest, your best bet to contacting me is probably is the above
			email address, or possibly through Discord, where my username is
			Sebagabones
		</p>
</MainBackgroundLayout>