---
import '../styles/global.css'
import MainBackgroundLayout from '../layouts/MainBackgroundLayout.astro'

const pageTitle = "Contacting me:";
const pageSubHeading = " ";
export const prerender = true;
---


<MainBackgroundLayout pageTitle={pageTitle}>
  <div class="linksContacts" style="padding-bottom:3vh;padding-top:2vh;">
	<a target="_blank" href="https://github.com/Sebagabones"><article class="contactCards"><center>Github</center></article></a>
	<a target="_blank" href="https://www.linkedin.com/in/seb-gazey/"><article class="contactCards"><center>LinkedIn</center></article></a>
	<article class="contactCards"><center><span class="email">sebgazey@icloud<b>.icloud</b>.com</span></center></article>

  </div>

  <p>
	To be honest, your best bet to contacting me is probably is the above email address, or possibly through Discord, where my username is Sebagabones. </p>
  <p>
	Otherwise, I am vegan, so I am against carrier pigeon, however feel free to use smoke signals or something.
  </p>
</MainBackgroundLayout>

<style>
  span.email b {
      display: none;
  }
</style>
