---
import '../styles/global.css';

import Navigation from './Navigation.astro';
import ThemeButton from './ThemeButton.astro';
import { Code } from 'astro-expressive-code/components'
import { ClientRouter } from "astro:transitions";

---
<header class="headerNav container">
    <nav class="container">
        <ul>
            <div class="titleLink">
                <li><b><a href="/" class="HeaderMainLink">Mahoosively Gay</a></b></li>
            </div>
        </ul>
        <ul>
            <!-- <li> -->
            <!--     <ul> -->
            <!--          <li><ThemeButton /></li> -->
                     <li><Navigation /></li>
           <!--      </ul> -->
           <!-- </li> -->
        </ul>
    </nav>
  </header>

<ClientRouter />
<style>
  @media screen and (max-width: 600px) {
    .titleLink {
      visibility: hidden;
      /* clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%; */
      display: none;
    }
  }
  .headerNav {
    padding-left: 0px;
    padding-right: 0px;
  }
</style>
