---
import '../styles/global.css';
import Header from '../components/Header.astro'

const {pageTitle, pageSubHeading} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="container">
    <Header />
    <main class="container">
      <h3>{pageTitle}</h3>
      <p><i>{pageSubHeading}</i></p>

        <slot />
    </main>
  </body>
</html>
